@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body{
    background-color: rgb(122, 122, 255);
}
div{
    text-align: center;
    font-family: 'Lexend' , sans-serif;
}

button{
    background-color: white;
    border-radius: 12px;
    border: solid;
    height: 80px;
    width: 200px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
    background-color: aquamarine;
}


