<!DOCTYPE html>
<html xmlns:th="httm://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/users.css">
</head>
<body>
  <div class="container">
    <div class="celda titulo">
      Lista de usuarios
    </div>
    <div class="celda cabecera">Nombre</div>
    <div class="celda cabecera">Apellidos</div>
    <div class="celda cabecera">Rol</div>
    <div class="celda usuario" th:each="usuario: ${usuarios}">
      <div class="datos nombre" th:text="${usuario.name}"></div>
      <div class="datos apellidos" th:text="${usuario.surname}"></div>
      <div class="datos rol" th:text="${usuario.rol}"></div>
    </div>
  </div>
</body>
</html>